<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
    <!--Domain SMTP credentials-->
    <add key="Host" value="mail.greymediahouse.com" />
    <add key="Username" value="info@greymediahouse.com" />
    <add key="Password" value="gmh0322" />
    <add key="Port" value="25" />

    <!--mandrill SMTP credentials
    <add key="Host" value="smtp.mandrillapp.com" />
    <add key="Username" value="greymediah@gmail.com" />
    <add key="Password" value="X-D7szElROCpgFbtWPpaHw" />
    <add key="Port" value="587" />-->

    <add key="FromEmail" value="info@greymediahouse.com" />
    <add key="LogFilePath" value="F:\Projects\CreativeMediaSolutions\WebSite3\Log\" />
    <!--C:\HostingSpaces\greymediahouse\greymediahouse.com\wwwroot-->

    <add key="IntroSubject" value="Web Desiging and Development Company"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <!--Local-->
    <add name="ConnectionString" connectionString="data source=PRATIK\SQLEXPRESS; initial catalog=GMH; UID=sa; PWD=sapassword;" providerName="System.Data.SqlClient" />
    <!--Live-->
    <!--<add name="ConnectionString" connectionString="data source=72.9.151.129,1533; initial catalog=GMH; UID=GMH; PWD=GMH99!;" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@greymediahouse.com">
        <network defaultCredentials="true" host="72.9.151.129" port="25" userName="info@greymediahouse.com" password="greymedia0322" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="index.html" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.asp" />
        <add value="index.aspx" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="http://www.greymediahouse.com/404.html" responseMode="Redirect" />
      <error statusCode="500" subStatusCode="-1" prefixLanguageFilePath="" path="http://www.greymediahouse.com/500.html" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
</configuration>
